.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ControlPanel.Device/.devcontainer/
ControlPanel.Device/.vscode/
ControlPanel.Device/dependencies.lock
ControlPanel.Device/build/
ControlPanel.Device/main/build/
ControlPanel.Device/managed_components/